.content-folder-means{
    width: 60%;
    display: flex;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}
.books{
    margin-top: 40px;
}
.content-means{
    width: 700px;
    height: 70vh;
    margin-top: 10px;
}
.means-folder{
    width: 100px;
    height: 200px;
    margin: 0;
    margin-top: 20px;
}
.content-means h1{
    color: #1A2284;
    font-weight:bold ;
}

.folder-means{

   color: #1A2284;

}